
<h1 style="text-align: center;">Admin Dashboad</h1>
<button style="text-align: center;" class="add-new-blog-button">Add</button>

<div id="blogs-list-dashboard">
    <!-- blogs goes here -->
    <Loading class="">loading..</Loading>
</div>
