
<h1 style="text-align: center;">My Blogs</h1>Admin-Page-btn
<button style="text-align: center;" class="Admin-Page-btn">Admin Page</button>

<div id="blogs-list">
    <!-- blogs goes here -->
    <Loading class="">loading..</Loading>
</div>
