
<h2>Add New Article</h2>

<div class="add-blog-form">
    <form >
        <label>Title</label><br>
        <input id="new-blog-title-input" name="new-blog-title" placeholder="Your title"><br>
        <label>Content</label><br>
        <textarea id="new-blog-content-input" name="content" rows="4" cols="50" placeholder="Your blog content"></textarea> <br>
        <button id="AddBtn" type="button">Save</button>
</form>
</div>
